Intalacoes necessarias

In [95]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (0.0.7)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas>=1.0.0 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

In [96]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: pandas>=1.2 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\pauli\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [97]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\pauli\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [98]:
pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [15 lines of output]
      The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
      rather than 'sklearn' for pip commands.

      Here is how to fix this error in the main use cases:
      - use 'pip install scikit-learn' rather than 'pip install sklearn'
      - replace 'sklearn' by 'scikit-learn' in your pip requirements files
        (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
      - if the 'sklearn' package is used by one of your dependencies,
        it would be great if you take some time to track which package uses
        'sklearn' instead of 'scikit-learn' and report it to their issue tracker
      - as a last resort, set the environment variable
        SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

      More information is available at
      https://github.com/scikit-learn/sklearn-pypi-package
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

Importando as bibliotecas

In [130]:
from ucimlrepo import fetch_ucirepo 
from IPython.display import display
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
import pandas as pd
import seaborn as sns

Coletando os datasets

In [100]:
pd.set_option('display.max_columns', None)
dataBase = pd.read_csv(r"https://archive.ics.uci.edu/static/public/887/data.csv")

Exibindo os datasets puro

In [101]:
# fetch dataset 
national_health_and_nutrition_health_survey_2013_2014_nhanes_age_prediction_subset = fetch_ucirepo(id=887) 
  
# data (as pandas dataframes) 
X = national_health_and_nutrition_health_survey_2013_2014_nhanes_age_prediction_subset.data.features 
y = national_health_and_nutrition_health_survey_2013_2014_nhanes_age_prediction_subset.data.targets 
  
# metadata 
print(national_health_and_nutrition_health_survey_2013_2014_nhanes_age_prediction_subset.metadata) 
  
# variable information 
print(national_health_and_nutrition_health_survey_2013_2014_nhanes_age_prediction_subset.variables)

{'uci_id': 887, 'name': 'National Health and Nutrition Health Survey 2013-2014 (NHANES) Age Prediction Subset', 'repository_url': 'https://archive.ics.uci.edu/dataset/887/national+health+and+nutrition+health+survey+2013-2014+(nhanes)+age+prediction+subset', 'data_url': 'https://archive.ics.uci.edu/static/public/887/data.csv', 'abstract': "The National Health and Nutrition Examination Survey (NHANES), administered by the Centers for Disease Control and Prevention (CDC), collects extensive health and nutritional information from a diverse U.S. population. Though expansive, the dataset is often too broad for specific analytical purposes. In this sub-dataset, we narrow our focus to predicting respondents' age by extracting a subset of features from the larger NHANES dataset. These selected features include physiological measurements, lifestyle choices, and biochemical markers, which were hypothesized to have strong correlations with age.", 'area': 'Health and Medicine', 'tasks': ['Classification'], 'characteristics': ['Tabular'], 'num_instances': 6287, 'num_features': 7, 'feature_types': ['Real', 'Categorical', 'Integer'], 'demographics': ['Age', 'Gender'], 'target_col': ['age_group'], 'index_col': ['SEQN'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2019, 'last_updated': 'Fri Nov 03 2023', 'dataset_doi': '10.24432/C5BS66', 'creators': ['NA NA'], 'intro_paper': {'ID': 304, 'type': 'NATIVE', 'title': 'A data-driven approach to predicting diabetes and cardiovascular disease with machine learning', 'authors': 'An Dinh, Stacey Miertschin, Amber Young, S. Mohanty', 'venue': 'BMC Medical Informatics and Decision Making', 'year': 2019, 'journal': None, 'DOI': None, 'URL': 'https://www.semanticscholar.org/paper/01af1548ff1f3661d8bb813e8c35ee219a79ca9f', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'The original full dataset can be found at:\n\nhttps://wwwn.cdc.gov/nchs/nhanes/search/DataPage.aspx?Component=Questionnaire&CycleBeginYear=2013', 'purpose': 'The NHANES dataset was created to assess the health and nutritional status of adults and children in the United States. \n', 'funded_by': 'Centers for Disease Control and Prevention (CDC), specifically through its National Center for Health Statistics (NCHS)\n', 'instances_represent': 'Survey respondents throughout the United States\n\nData was gathered through interviews, physical examinations, and laboratory tests.', 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': 'For this subset respondents 65 years old and older were labeled  as “senior” and all individuals under 65 years old as “non-senior.”\n', 'variable_info': None, 'citation': 'Please acknowledge the National Center for Health Statistics (NCHS) at the Centers for Disease Control and Prevention (CDC)'}}
        name     role         type demographic  \
0       SEQN       ID   Continuous        None
1  age_group   Target  Categorical         Age
2   RIDAGEYR    Other   Continuous         Age
3   RIAGENDR  Feature   Continuous      Gender
4     PAQ605  Feature   Continuous        None
5     BMXBMI  Feature   Continuous        None
6     LBXGLU  Feature   Continuous        None
7     DIQ010  Feature   Continuous        None
8     LBXGLT  Feature   Continuous        None
9      LBXIN  Feature   Continuous        None

                                         description units missing_values
0                         Respondent Sequence Number  None             no
1         Respondent's Age Group (senior/non-senior)  None             no
2                                   Respondent's Age  None             no
3                                Respondent's Gender  None             no
4  If the respondent engages in moderate or vigor...  None             no
5                       Respondent's Body Mass Index  None             no
6           Respondent's Blood Glucose after fasting  None             no
7                      If the Respondent is diabetic  None             no
8                                 Respondent's Oral   None             no
9                  Respondent's Blood Insulin Levels  None             no

In [102]:
display(dataBase.head(10))

,SEQN,age_group,RIDAGEYR,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN
0,73564.0,Adult,61.0,2.0,2.0,35.7,110.0,2.0,150.0,14.91
1,73568.0,Adult,26.0,2.0,2.0,20.3,89.0,2.0,80.0,3.85
2,73576.0,Adult,16.0,1.0,2.0,23.2,89.0,2.0,68.0,6.14
3,73577.0,Adult,32.0,1.0,2.0,28.9,104.0,2.0,84.0,16.15
4,73580.0,Adult,38.0,2.0,1.0,35.9,103.0,2.0,81.0,10.92
5,73581.0,Adult,50.0,1.0,2.0,23.6,110.0,2.0,100.0,6.08
6,73587.0,Adult,14.0,1.0,2.0,38.7,94.0,2.0,202.0,21.11
7,73596.0,Adult,57.0,2.0,2.0,38.3,107.0,2.0,164.0,20.93
8,73607.0,Senior,75.0,1.0,2.0,38.9,89.0,2.0,113.0,17.47
9,73610.0,Adult,43.0,1.0,1.0,28.9,90.0,2.0,95.0,3.24

Tratamento da base

In [103]:
dataBase = dataBase.rename(columns={
    'SEQN': 'sk',
    'age_group': 'faixaEtaria',
    'RIDAGEYR': 'idade',
    'RIAGENDR': 'sexo',
    'PAQ605': 'exerciciosSemanais',
    'BMXBMI': 'imc',
    'LBXGLU': 'nivelGlicose',
    'DIQ010': 'diabetico',
    'LBXGLT': 'LBXGLT',
    'LBXIN': 'nivelInsulinaSangue'
})

In [106]:
dataBase["sexo"] = dataBase["sexo"].replace({1: 'MALE', 2: 'FEMALE'})
dataBase["exerciciosSemanais"] = dataBase["exerciciosSemanais"].replace({1: 'SIM', 2: 'NAO'})
dataBase["diabetico"] = dataBase["diabetico"].replace({1: 'SIM', 2: 'NAO'})

In [110]:
display(dataBase.head(10))

,sk,faixaEtaria,idade,sexo,exerciciosSemanais,imc,nivelGlicose,diabetico,LBXGLT,nivelInsulinaSangue
0,73564.0,Adult,61.0,FEMALE,NAO,35.7,110.0,NAO,150.0,14.91
1,73568.0,Adult,26.0,FEMALE,NAO,20.3,89.0,NAO,80.0,3.85
2,73576.0,Adult,16.0,MALE,NAO,23.2,89.0,NAO,68.0,6.14
3,73577.0,Adult,32.0,MALE,NAO,28.9,104.0,NAO,84.0,16.15
4,73580.0,Adult,38.0,FEMALE,SIM,35.9,103.0,NAO,81.0,10.92
5,73581.0,Adult,50.0,MALE,NAO,23.6,110.0,NAO,100.0,6.08
6,73587.0,Adult,14.0,MALE,NAO,38.7,94.0,NAO,202.0,21.11
7,73596.0,Adult,57.0,FEMALE,NAO,38.3,107.0,NAO,164.0,20.93
8,73607.0,Senior,75.0,MALE,NAO,38.9,89.0,NAO,113.0,17.47
9,73610.0,Adult,43.0,MALE,SIM,28.9,90.0,NAO,95.0,3.24

In [113]:
display(dataBase.describe())

,sk,idade,imc,nivelGlicose,LBXGLT,nivelInsulinaSangue
count,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000
mean,78691.853819,41.795874,27.955180,99.553117,114.978929,11.834794
std,2921.365151,20.156111,7.248962,17.889834,47.061239,9.718812
min,73564.000000,12.000000,14.500000,63.000000,40.000000,0.140000
25%,76171.750000,24.000000,22.800000,91.000000,87.000000,5.860000
50%,78749.000000,41.000000,26.800000,97.000000,105.000000,9.040000
75%,81213.500000,58.000000,31.200000,104.000000,130.000000,14.440000
max,83727.000000,80.000000,70.100000,405.000000,604.000000,102.290000

Treinamento de teste

In [114]:
x = dataBase['idade']
y = dataBase[['imc', 'nivelGlicose']]

In [115]:
if x.isnull().any() or y.isnull().any().any():  # Verifica se há valores ausentes em y
    print("Valores ausentes encontrados. Removendo linhas com valores ausentes.")
    dataBase = dataBase.dropna(subset=['idade', 'imc', 'nivelGlicose'])  # Remover linhas com valores ausentes
    x = dataBase['idade']
    y = dataBase[['imc', 'nivelGlicose']]

In [116]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, 
    test_size=0.3, 
    random_state=123
)

In [117]:
print("Dimensões do conjunto de treino:")
print(f"x_train: {x_train.shape}, y_train: {y_train.shape}")
print("Dimensões do conjunto de teste:")
print(f"x_test: {x_test.shape}, y_test: {y_test.shape}")

Dimensões do conjunto de treino:
x_train: (1594,), y_train: (1594, 2)
Dimensões do conjunto de teste:
x_test: (684,), y_test: (684, 2)

In [131]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, 
    test_size=0.3, 
    random_state=123
)

# Criacao da saida multi regressao
regressor = MultiOutputRegressor(LinearRegression())

# Ajuste do modelo
regressor.fit(x_train.values.reshape(-1, 1), y_train)

# Previsões
y_pred = regressor.predict(x_test.values.reshape(-1, 1))

# Avaliacao do desempenho para cada saída
for i, coluna in enumerate(y_train.columns):
    mse = mean_squared_error(y_test[coluna], y_pred[:, i])
    print(f"Erro quadrático médio para {coluna}: {mse}")

Erro quadrático médio para imc: 50.378884502155785
Erro quadrático médio para nivelGlicose: 402.8259095253492